<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ProductCategoryMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ProductCategory">
            <id property="category_id" column="category_id" />
            <result property="category_name" column="category_name" />
            <result property="parent_id" column="parent_id" />
            <result property="sort" column="sort" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name,parent_id,sort,create_time,update_time
    </sql>
</mapper>
