<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ProductCollectMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ProductCollect">
            <id property="collect_id" column="collect_id" />
            <result property="user_id" column="user_id" />
            <result property="product_id" column="product_id" />
            <result property="create_time" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        collect_id,user_id,product_id,create_time
    </sql>
</mapper>
