<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PromotionProductMapper">

    <resultMap id="BaseResultMap" type="generator.domain.PromotionProduct">
            <id property="id" column="id" />
            <result property="promotion_id" column="promotion_id" />
            <result property="product_id" column="product_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,promotion_id,product_id
    </sql>
</mapper>
