<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PropertyFeeMapper">

    <resultMap id="BaseResultMap" type="generator.domain.PropertyFee">
            <id property="fee_id" column="fee_id" />
            <result property="user_id" column="user_id" />
            <result property="fee_amount" column="fee_amount" />
            <result property="pay_status" column="pay_status" />
            <result property="pay_time" column="pay_time" />
            <result property="order_id" column="order_id" />
            <result property="create_time" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        fee_id,user_id,fee_amount,pay_status,pay_time,order_id,
        create_time
    </sql>
</mapper>
