<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="generator.domain.SysRole">
            <id property="role_id" column="role_id" />
            <result property="role_name" column="role_name" />
            <result property="role_desc" column="role_desc" />
            <result property="create_time" column="create_time" />
            <result property="update_time" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name,role_desc,create_time,update_time
    </sql>
</mapper>
